<div class="container mt-4">
  <h1><%= @user.name %></h1>

  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Role:</strong> <%= @user.role %></p>

  <h3>Events Organized</h3>
  <ul>
    <% @user.events.each do |event| %>
      <li><%= link_to event.title, event_path(event) %></li>
    <% end %>
  </ul>

  <h3>Registrations</h3>
  <ul>
    <% @user.registrations.each do |r| %>
      <li><%= link_to r.event.title, event_path(r.event) %></li>
    <% end %>
  </ul>
</div>